
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <!--userの詳細インフォの表示-->
       <%= render 'users/user_show', user: @book.user %>
      <!--userの詳細インフォの表示-->

      <!--bookの投稿画面-->
       <%= render 'books/book_new', book: @book_new %>
       <!--bookの投稿画面-->
    </div>

    <div class="col-md-8 offset-md-1 pt-md-3">
        <!--検索バー-->
        <%= render 'search/search_form' %>
        <!--検索バー-->
        <p></p>

        <!--bookの詳細表示-->
        <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@book.user) do %>
                    <%= attachment_image_tag @book.user, :profile_image ,size: "40x40", farmat: 'jpg', fallback: "no_image.jpg" %><br>
                    <%= @book.user.name %>
                  <% end %>
                </td>
                <td><%= link_to @book.title, book_path(@book) %></td>
                <td><%= @book.body %></td>
                <!--bookの詳細表示-->

                <!--いいねの表示-->
                  <td id="favorite-<%= @book.id %>">
                      <%= render 'books/favorites', book: @book %>
                  </td>
                <!--いいねの表示-->

                <td>
                  <span>コメント数：</span>
                  <%= @book.book_comments.count %>
                </td>

                <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book), class: "btn-success btn btn-sm" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか?"}, class: "btn-danger btn btn-sm "%></td>
                <% end %>
              </tr>
            </tbody>
          </table>

          <!--投稿されたコメントの表示-->
          <div class="book_comments">
            <%= render 'book_comments', book_comments: @book_comments %>
          </div>
          <!--投稿されたコメントの表示-->

          <div class="new-comment">
            <!--エラーメッセージ -->
            <% if @book_comment.errors.any? %>
              <h3 class="error-color"</h3><%= @book_comment.errors.count %>error prohibited this book from being saved:</h3><br>
               <% @book_comment.errors.full_messages.each do |message| %>
                <ul>
                  <li class="error-color"><%= message %></li>
                </ul>
              <% end %>
            <% end %>
            <!--エラーメッセージ -->

            <!--コメントの送信フォーム-->
            <%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
            <%= f.text_area :comment, class: 'form-control' %>
            <%= f.submit "送信" %>
            <% end %>
            <!--コメントの送信フォーム-->
          </div>
    </div>
  </div>
</div>

